body {
	background-color: lightgoldenrodyellow;
}

header {
	background-color: orange;
	color: red;
}

nav {
	margin-bottom: 30px;
	float: left;
	list-style-type: none;
	padding: 0;
	width: 100%;
	background-color: cadetblue;
	border-style: solid;
	border-color: cadetblue;
}

a {
	float: left;
	text-decoration: none;
	color: black;
	background-color: palegreen;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	border: solid;
	border-width: 1px;
	border-color: white;
}

a:hover {
	background-color: orange;
}

aside {
	float: right;
	width: 20%;
	padding-right: 10px;
	background-color: antiquewhite;
	padding: 10px;
	margin: 10px;
}

main {
	float: left;
	width: 74%;
}

section {
	float: left;
}

h3 {
	color: indianred;
}

h4 {
	color: yellowgreen
}

table {
	width: 120%;
	border-color: #000000;
	border-top-color: #000000;
	border-spacing: 0;
	margin: 20px;
	color: darkblue;
}

tr {
	text-align: center;
}

img {
	width: 250px;
	float: left;
	margin: 5px;
}

article {
	float: left;
	margin: 10px;
}

footer {
	float: left;
	font-style: italic;
	margin-top: 10px;
	width: 100%;
}

.current {
	background-color: orange;
}

.des {
	width: 900px;
}
