
/* Style the form to a fixed width so the form looks the same even if the browser window is resize */
form {
	width 				: 50em;
}

/* Style the labels and input by aligning all input fields */
label {
	float 				: left;
	text-align		: right;
	width 				: 10em;
	margin-right	: 1em;
}
input {
	width 				: 50%;
}

/* Style text input to have spacing between input fields */
.textinput {
	margin				: 10px;
}
/* Style radio button input to a single line note that declarations are inherited */
.radioinput fieldset {
	border				: none;
}
.radioinput legend {
	float 				: left;
	text-align		: right;
	width 				: 9em;		/* Not 10em as it is inside a fieldset */
	margin-right	: 1em;
}
.radioinput input  {
	width				: 2em;		/* reset inherited value from 10em to 2em */
}
.radioinput label  {
	float 				: none;		/* clears the inherited float left */
	text-align		: left;		/* reset inherited alignment to left */
}

/* Style  button input note that declarations are inherited */
.buttoninput {
	text-align 		: right;
}
.buttoninput input {
	width				: auto;
}
