@charset "utf-8";
/* CSS Document */
img {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%;
  }
  to {
    margin-left: 0%;
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
main {
	float: left;
	border-style: solid;
	padding: 15px;
	background-color: lightcyan;
	height: 200px;
}
img {
	float: right;
	width: 25%;
}
nav{
	float:left ;
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	width: 100%;
	background-color: darkgray;
	border-style: solid;
	border-color: darkgray;
}
a{
	float: left;
	text-decoration: none;
	color: white;
	background-color: blue;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	border: solid;
	border-width: 1px;
	border-color: white;
}
a:hover {
	background-color: orange;
}
h1{
	color: white;
	background-color: olive;
}
section {
	border-style: groove;
	border-color: aliceblue;
	background-color: antiquewhite;
	padding: 10px;
	box-shadow: 3px 3px 3px 2px #797979;
	width: 70%;
	float: left;	
}
footer {
	color: white;
	background-color: darkslateblue;
	float: left;
	font-style: italic;
	margin-top: 10px;
	width: 100%;
}
}
@media screen and (max-width: 1023px) {
main {
	border-style: solid;
	padding: 10px;
	background-color: lightcyan;
	margin-top: 80px;
}
nav{
	float:left ;
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	width: 100%;
	background-color: darkgray;
	border-style: solid;
	border-color: darkgray;
}
a{
	float: left;
	text-decoration: none;
	color: white;
	background-color: blue;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	border: solid;
	border-width: 1px;
	border-color: white;
}
a:hover {
	background-color: orange;
}
h1{
	color: white;
	background-color: olive;
}
section {
	border-style: groove;
	border-color: aliceblue;
	background-color: antiquewhite;
	margin: 10px;
	padding: 10px;
	box-shadow: 3px 3px 3px 2px #797979;
	margin-right: 15px;
}	/* fit the section to top of main */
footer {
	color: white;
	background-color: darkslateblue;
	float: left;
	font-style: italic;
	margin-top: 10px;
	width: 100%;
}
img {
	width: 80%;
	margin: 10px;
}	/* fit the image bellow the text paragraph */
body {
	font-size: 120%;	/* Increase text font size on a phone browser */
}
}